<body>
    <div class="container">
        <div class="admin">
            <a href="/admin/albums" class="manage">Quản lý album</a>
            <a href="/admin/events" class="manage">Quản lý sự kiện</a>
            <a href="/admin/song" class="manage">Quản lý bài hát</a>
            <a href="/admin/artist" class="manage">Quản lý nghệ sĩ</a>
            <a href="/admin/account" class="manage">Quản lý tài khoản</a>
        </div>
    </div>
</body>
