<body>
    <div class="container">
        <div class="artist">
            <div class="content">
                <h3 class="name"><%= artist[0].TenNgheSi %></h3>
                <div class="desc"><%= artist[0].GioiThieu %></div>
                <button class="btn">QUAN TÂM</button>
            </div>
            <div class="avatar">
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
</body>