<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music</title>
    <link rel="icon" href="/images/favicon.png" type="image/gif">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/playlist.css">
    <link rel="stylesheet" href="/css/rank.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="overlay"></div>
    <div class="header">
        <div class="container header-container">
            <h2 id="logo">MY<span>MUSIC</span></h2>
            <div class="search-box">
                <img src="/images/search-icon.png" alt="" class="icon">
                <input type="text" placeholder="Tìm kiếm bài hát, nghệ sĩ...">
            </div>
            <a href="" id="login" class="btn">Đăng nhập</a>
        </div>
    </div>
    <div class="sidebar">
        <h2 id="logo">MY<span>MUSIC</span></h2>
        <div class="list">
            <a class="item" href="/">
                <img src="/images/home-icon.png" alt="" class="icon">
                <span>Trang chủ</span>
            </a>
            <a class="item" href="/genre">
                <img src="/images/genre-icon.png" alt="" class="icon">
                <span>Thể loại</span>
            </a>
            <a class="item" href="/rank">
                <img src="/images/rank-icon.png" alt="" class="icon">
                <span>Bảng xếp hạng</span>
            </a>
            <a class="item" href="/album">
                <img src="/images/album-icon.png" alt="" class="icon">
                <span>Albums</span>
            </a>
            <a class="item" href="/user">
                <img src="/images/user-icon.png" alt="" class="icon">
                <span>Cá nhân</span>
            </a>
            <a class="item" href="/admin">
                <img src="/images/manage-icon.png" alt="" class="icon">
                <span>Quản lý</span>
            </a>
        </div>
    </div>
    <main>
        <%- body %>
    </main>
</body>
</html>
